<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jandan.mapper.TucaoXOMapper">
  <resultMap id="BaseResultMap" type="net.jandan.pojo.TucaoXO">
    <result column="tucaoId" jdbcType="INTEGER" property="tucaoId" />
    <result column="ipAddr" jdbcType="VARCHAR" property="ipAddr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tucaoId, ipAddr
  </sql>
  <select id="selectByExample" parameterType="net.jandan.pojo.TucaoXOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tucaoxo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="net.jandan.pojo.TucaoXO">
    insert into tucaoxo (tucaoId, ipAddr)
    values (#{tucaoId,jdbcType=INTEGER}, #{ipAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.jandan.pojo.TucaoXO">
    insert into tucaoxo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tucaoId != null">
        tucaoId,
      </if>
      <if test="ipAddr != null">
        ipAddr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tucaoId != null">
        #{tucaoId,jdbcType=INTEGER},
      </if>
      <if test="ipAddr != null">
        #{ipAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>